GAS_RESERVE='5'
REFRESH_TIME='30'
SHARD='0'
NETWORK='mainnet'
NETWORK_SWITCH='t'
RPC_NET='https://rpc.serv.services'
RPC_NET_SHARD='https://rpc.serv.services'
HARMONY_DIR='/home/servuser/serv'
VALIDATOR_WALLET=''
SERVICE_NAME='servnode'
VSTATSBOT_TOKEN=''
REFRESH_OPTION='False'
HMY_UPGRADE_AVAILABLE='False'
REWARDS_WALLET=''
PASS_SWITCH='--passphrase-file /home/servuser/serv/passphrase.txt'
